<!-- Modal -->
<div class="modal fade" id="registrarmeModal" tabindex="-1" aria-labelledby="registrarmeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrarmeModalLabel">Registrarme</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form-registrarme" action="">
            <div class="mb-3">
              <label for="usuario" class="form-label">Usuario</label>
              <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Escribe un usuario" aria-describedby="usuarioId">
            </div>
            <div class="mb-3">
              <label for="correo" class="form-label">Correo</label>
              <input type="text" name="correo" id="correo" class="form-control" placeholder="Escribe un correo" aria-describedby="correoId">
            </div>
            <div class="mb-3">
              <label for="passwd" class="form-label">Correo</label>
              <input type="text" name="passwd" id="passwd" class="form-control" placeholder="Escribe una contraseña" aria-describedby="passwdId">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-registrarme">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
    const formRegistrarme = document.querySelector('#form-registrarme');
    const btnRegistrarme = document.querySelector('.btn-registrarme');

    btnRegistrarme.addEventListener('click', function(e){ 
        e.preventDefault();
        const inputs = Object.keys(formRegistrarme).map(key => formRegistrarme[key].value || 'input:error');
        const usuarioNuevo = { usuario : inputs[0], correo : inputs[1], passwd : inputs[2]};
        console.log(usuarioNuevo);
    });

</script>