<!-- Modal -->
<div class="modal fade" id="entrarModal" tabindex="-1" aria-labelledby="entrarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="entrarModalLabel">Iniciar sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form-entrar">
            <div class="mb-3">
              <label for="correo" class="form-label">Correo</label>
              <input type="email" name="correo" class="form-control" placeholder="Escribe un correo" aria-describedby="correoId" required>
            </div>
            <div class="mb-3">
              <label for="passwd" class="form-label">Correo</label>
              <input type="password" name="passwd" class="form-control" placeholder="Escribe una contraseña" aria-describedby="passwdId" required>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-entrar-cerrar" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-entrar">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import { getAuth, signInWithEmailAndPassword, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-auth.js";
  const formEntrar = document.querySelector('#form-entrar');
  const btnCerrarEntrar = document.querySelector('.btn-entrar-cerrar');
  const btnEntrar = document.querySelector('.btn-entrar');

  btnEntrar.addEventListener('click', function(e){
    btnCerrarEntrar.click();
    const inputs = Object.keys(formEntrar).map(key => formEntrar[key].value || 'input:error');
    const usuario = { correo : inputs[0], passwd : inputs[1]};
    const resp = inputs.includes('input:error');

    if( resp ){
      swal("Aviso", "Todo los campos son requeridos", "info");
      return;
    }

    // Iniciar sesion
    const auth = getAuth();
    signInWithEmailAndPassword(auth, usuario.correo, usuario.passwd)
    .then((userCredential) => {
        // Signed in
        const user = userCredential.user;
        onAuthStateChanged(auth, (user) => {
            if (user) {
                // User is signed in, see docs for a list of available properties
                // https://firebase.google.com/docs/reference/js/firebase.User
                
                Object.keys(formEntrar).map(key => formEntrar[key].value = '');
                swal("Bienvenido", "Usted a iniciado sesión exitosamente.", "success");
            } else {
                // User is signed out
                // ...
        }
        });
    })
    .catch((error) => {
        const errorCode = error.code;
        const errorMessage = error.message;
    });
    
  });

</script>